---
layout: default
---

<div class="home">
  <div class="home-col-1">
    <p style="color: gray; margin-bottom: 0;"> ALL POSTS </p>
    {% assign posts = site.posts %}
    {%- if posts.size > 0 -%}
    <ul class="post-list-left">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <a class="post-link-left" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
        <span class="post-meta-left">{{ post.date | date: date_format }}</span>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
  </div>

  <div class="home-col-2">
    {% if page.title != "About" and page.layout == "home" %}
    <h1 class="page-heading"> Latest Posts </h1>
    {% endif %}

    {% if page.title and page.layout != "post" %}
    <h1 class="page-heading">{{ page.title }}</h1>
    {% endif %}

    {{ content }}
  </div>

  <div class="home-col-3">
    <p style="color: gray; margin-bottom: 0;"> MY SITES</p>
    {%- include social.html -%}
    <br>
    <!-- <p style="color: gray; margin-bottom: 0;"> OTHER SITES</p>
    {%- include other-sites.html -%}
    <br> -->
    <p style="color: gray; margin-bottom: 0;"> CONTACT</p>
    <a href="mailto:{{ site.email }}">{{ site.email }}</a>
    <p style="color: gray">&copy; {{ site.copyright }} {{ 'now' | date: "%Y" }}</p>
  </div>

</div>